<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralel suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>815</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>1056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>1159</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-387</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:16</td>   <td>816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/28 10:48:15</td>   <td>-395</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>-379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod1</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>-227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod1</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:15</td>   <td>-221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod1</td> 
  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>-103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod2</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:15</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod2</td> 
  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:15</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod2</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/28 10:48:15</td>   <td>-390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod3</td> 
  <td>TestNG@24505281</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:16</td>   <td>713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod3</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/28 10:48:16</td>   <td>817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod3</td> 
  <td>TestNG@27262389</td>   <td>27863330 32679893 </td> </tr>
</table>
